/* Write your code here. */
* {
  margin: 0;
}
.bd-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Roboto";
  color: #fff;
  font-size: 35px;
}
/* .img-container {
} */
.img {
  height: 40vh;
  padding-top: 35px;
}
